<launch>
  <arg name="world_file" default="worlds/cude.world"/>
  <arg name="gui_state" default="true"/>

  <master auto="start"/>
  <!-- IMPORTANT: When no model is appearing run "killall gzserver" http://answers.gazebosim.org/question/9170/error-while-loading-gazebo/ -->

  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find rover_description)/urdf/rover.urdf.xacro'"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="rover_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model rover"/>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0"/>
  </node>

  <arg name="model" default="$(find rover_description)/urdf/rover.xacro"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller  --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/cmd_vel"/>
  </node>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="gui" value="$(arg gui_state)"/>
    <arg name="headless" value="false"/> <!-- Inert - see gazebo_ros_pkgs issue #491 -->
  </include>
</launch>
